rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users can only interact with their own data.
    match /users/{userId} {
      // A user can create their own document upon sign-up.
      allow create: if request.auth != null && request.auth.uid == userId;
      
      // An existing user can read, update, and delete their own document.
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Users can manage their own drafts subcollection.
    match /users/{userId}/drafts/{draftId} {
      allow read, write, create, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Users can manage their own campaignDrafts subcollection.
    match /users/{userId}/campaignDrafts/{campaignDraftId} {
        allow read, write, create, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
