rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users can only read and write to their own document.
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Users can manage their own drafts subcollection.
    match /users/{userId}/drafts/{draftId} {
      allow read, write, create, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Users can manage their own campaignDrafts subcollection.
    match /users/{userId}/campaignDrafts/{campaignDraftId} {
        allow read, write, create, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
